# Python
__pycache__/
*.py[cod]
*$py.class

# ROS 2 build artifacts
build/
install/
log/

# Project specific logs
real_driver/log_data/
*.csv
*.log
.vscode/

# Cloned repositories
kiis_2024_impedance_control/

# MuJoCo temporary files & logs
MUJOCO_LOG.TXT
MJDATA.TXT
MJMODEL.TXT
mjmodel.mjb
mjmodel.xml
real_driver/log/
*.png
!MuJoCo/grasping_force_comparison.png